body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding-left: 30px;
  padding-right: 25px;
  font-family: JetBrains Mono, monospace;
  font-size: 0.7rem;
  background: rgba(23, 21, 21, 0.1);
  backdrop-filter: blur(10px);
  margin: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 0px 0px 20px 20px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding-left: 30px;
  padding-right: 25px;
  font-family: JetBrains Mono, monospace;
  font-size: 1rem;
  background: rgba(23, 21, 21, 0.1);
  backdrop-filter: blur(10px);
  margin: 20px;
  margin-bottom: 0px;
  border-radius: 20px 20px 0px 0px;
}
.socials a {
  margin: 0 10px;
  color: #333;
  text-decoration: none;
}

.container.dark .socials a {
  color: #ddd;
}

.socials a:hover {
  color: #0077b5; /* LinkedIn blue or your preferred color */
}

.header-subtitle {
  font-size: 1.2rem;
}
